.chat-container {
  display: flex;
  height: 100%;
}

body {
  /* ??????????§µ??????????????? */
  overflow-y: hidden; 
}

.left-panel {
  flex: 1;
  padding: 16px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc; 
}
.send-button {
  border-radius: 100px; /* ??????????????????????§Ö??? */
  /* ??????? */
}

.right-panel {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.chat-box {
  flex-grow: 1;
  display: flex;
  height:auto;
  flex-direction: column;
}

.message-list {
  flex-grow: 1;
  scroll-behavior: smooth;
  overflow-y: scroll;
  max-height: 90%;
}

.input-container {
  display: flex;
  /* width:25%; */
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f0f0f0;
  position: fixed; /* ?? position ????? fixed */
  bottom: 0; /* ?? bottom ????? 0?????????????? */
  z-index: 1;
}
.user-message .message-content-container {
  max-width: 500px; 
}

.system-message .message-content-container {
  max-width: 500px; /* ?????????? */
}
.user-message .message-content {
  background-color: #DCF8C6; /* ????????????? */
  color: black; /* ???????????? */
  border-radius: 20px; /* ???? */
  padding: 10px 15px; 
  margin: 5px 0; 
  display: inline-block; /* ??????????????????ï…????????????? */
}

.system-message .message-content {
  background-color: #EAEAEA; /* ???????????? */
  color: black; /* ??????????? */
  border-radius: 20px; /* ???? */
  padding: 10px 15px; /* ???? */
  margin: 5px 0; /* ???? */
  display: inline-block; /* ??????????????????ï…????????????? */
}

/* ??textarea??resize?????????none??????????????????§³ */
textarea {
  /* width: 100%; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  background-color: white;
  color: black;
  resize: none; /* ?????????§³ */
}

/* hover?????????? */
textarea:hover {
  border-color: #888;
}

.user-message {
  display: table;
  margin-left: auto;
  padding: 8px;
  word-wrap: break-word;
}

.system-message {
  margin: 16px 0;
  display: inline-block;
  word-wrap: break-word;
  text-align: left;
}

.divider-horizontal {
  height: 1px;
  background-color: #ccc;
  margin: 0; 
}

.message-sender-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px; /* ??????? */
}

.message-sender {
  font-weight: bold;
}

.message-time {
  font-size: 12px;
  color: #888;
}
.message-content-container {
  display: flex;
  align-items: center; /* ??????? */
}

.avatar-container {
  margin-right: 8px; /* ????????????????????§»??? */
}

.user-message .avatar-container {
  margin-left: auto; /* ?????????????? */
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


